<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Plugin 1 - Right</strong>
    </div>
    <table class="table table-hover table-headings panel-body">
        <thead>
            <th>
                Foo
            </th>
            <th>
                Bar
            </th>
        </thead>
        <tbody>
            <tr>
                <td>Loren</td>
                <td>ipsum</td>
            </tr>
            <tr>
                <td>dolor</td>
                <td>sit amet</td>
            </tr>
        </tbody>
    </table>
</div>